:root {
  color: black;
}

body {
  margin: 0;
  display: flex;
  overflow: hidden;
  background-color: white;
}

#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  color: black;
  background-color: white;
}
